/* Custom CSS */
body {
    font-size: 20px;
    line-height: 16px;
    font-family: Arial, Tahoma;
    padding-top: 60px;
}
.container {
    max-width: 400px;
}

/* Basic styling */

form {
    max-width: 400px;
    margin: 0 auto;
}
label, input {
    display: block;
    margin-bottom: 10px;
}
input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style default anchor tag like a button */
a.button {
    display: inline-block;
    padding: 3px 15px;
    background-color: #f0f0f0;
    color: #000000;
    text-decoration: none;
    border: 0.15em solid #000000;
    cursor: pointer;
    border-radius: 5px; /* Optional: Add rounded corners */
}

a.button:hover {
    background-color: #d4ba23;
}

footer p {
    margin: 0 auto;
     color: #1E90FF;
     width: 100%;
     margin-left: 80%;
 }

 .mt_form{
    margin-top: 150px;
 }


 .navbar-brand {
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    font-style: italic;
}


body {
    background-color: #f8f9fa;
}
.login-container {
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-container h2 {
    text-align: center;
    margin-bottom: 30px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0a244d;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.login-form button[type="submit"]:hover {
    background-color: #fe5800;
}
.login-form .signup-link {
    text-align: center;
}
.login-form .signup-link a {
    color: #007bff;
}

span {
color: #fe5800;
font-weight: bold;
font-size: 30px;
text-transform: uppercase;
font-style: italic;
}
.div-container{
font-size: 15px;
}
.button {
display: inline-block;
padding: 3px 15px;
background-color: #f0f0f0;
color: #000000;
text-decoration: none;
border: 0.15em solid #000000;
cursor: pointer;
border-radius: 5px; /* Optional: Add rounded corners */
margin: 0 auto;
}
button:hover {
background-color: #fe5800;
}
a.button{
display: inline-block;
padding: 3px 15px;
background-color: #f0f0f0;
color: #000000;
text-decoration: none;
border: 0.15em solid #000000;
cursor: pointer;
border-radius: 5px; /* Optional: Add rounded corners */
}
a.button:hover{
background-color: #fe5800;
}
footer p {
margin: 0 auto;
color: #1E90FF;
width: 100%;
}

.Cfooter{
margin-left: 80%;
}

@media only screen and (max-width: 1920px) {

body{
margin-top: 45px ;
padding-bottom: 3.74rem;
}

.AtecWebsite {
margin: auto 50px;
}

.Cfooter{
margin-left: 81%;
}

}


@media only screen and (max-width: 1224px) {

body{
margin-top: 45px ;
padding-bottom: 3.74rem;
}

.AtecWebsite {
margin: auto 50px;
}


.Cfooter{
margin-left: 73%;
}

}

/* Responsive styles */
@media only screen and (max-width: 768px) {

body{
margin-top: 45px ;
padding-bottom: 4.74rem;
}

.AtecWebsite {
margin: auto 50px;
}

.navbar-brand {
font-size: 25px;
}

span {
font-size: 25px;
}

.Cfooter{
margin-left: 63%;
}

}

